@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Sofadi";
    src: url("/public/assets/fonts/SofadiOne-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

.sofadi-one-regular {
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
}